<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dataBaseCS" connectionString="Data Source=DESKTOP-0PG9QNP\SQLEXPRESS;Initial Catalog=StatisticiJocuriVideo;Integrated Security=True"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!-- Separator pentru liste este : |=| -->
	<appSettings>
	<!-- Exemplu 1
		<add key="ParentTableName" value="GamePublishers"/>
		<add key="SelectParent" value="SELECT * FROM GamePublishers"/>
		<add key="ParentId" value="id"/>
		<add key="ChildRef" value="id_p"/>

		<add key="ChildTableName" value="JocuriVideo"/>
		<add key="SelectChild" value="SELECT * FROM JocuriVideo"/>
		<add key="ChildId" value="id"/>
		<add key="Update" value="UPDATE JocuriVideo  
                     SET Nume = @Nume, 
                     Gen = @Gen, 
                     Data_Lansare = @Data_Lansare, 
                     Numar_de_copi = @Numar_de_copi, 
                     Playeri_anuali = @Playeri_anuali,
                     Price = @Price 
                     WHERE id = @id"
		/>
        <add key="UpdateNames" value="Nume|=|Gen|=|Data_Lansare|=|Numar_de_copi|=|Playeri_anuali|=|Price|=|id"/>
        <add key="UpdateParams" value="@Nume|=|@Gen|=|@Data_Lansare|=|@Numar_de_copi|=|@Playeri_anuali|=|@Price|=|@id"/>
		<add key="UpdateTypes" value="NVarChar|=|NVarChar|=|Date|=|Int|=|Int|=|Money|=|Int"/>
		
		<add key="Delete" value="DELETE FROM JocuriVideo WHERE id = @id"/>
		<add key="DeleteNames" value="id"/>
		<add key="DeleteParams" value="@id"/>
		<add key="DeleteTypes" value="Int"/>
		
		<add key="Insert" value="INSERT INTO JocuriVideo(Nume, Gen, Data_Lansare, Numar_de_copi, Playeri_anuali, Price, id_p, id_d, Main_Platform_id) 
                        values (@Nume, @Gen, @Data_Lansare, @Numar_de_copi, @Playeri_anuali, @Price, @id_p, @id_d,@Main_Platform_id)"
		/>
		<add key="InsertNames" value="Nume|=|Gen|=|Data_Lansare|=|Numar_de_copi|=|Playeri_anuali|=|Price|=|id_p|=|id_d|=|Main_Platform_id"/>
		<add key="InsertParams" value="@Nume|=|@Gen|=|@Data_Lansare|=|@Numar_de_copi|=|@Playeri_anuali|=|@Price|=|@id_p|=|@id_d|=|@Main_Platform_id"/>
		<add key="InsertTypes" value="NVarChar|=|NVarChar|=|Date|=|Int|=|Int|=|Money|=|Int|=|Int|=|Int"/>

		<add key="OtherTables" value="GameDeveloperi|=|Platforma"/>
		<add key="selects" value="SELECT id,Nume FROM GameDeveloperi|=|SELECT id, Nume_Platforma FROM Platforma"
		/>
		<add key="ids" value="id|=|id"/>
		<add key="idsInChild" value="id_d|=|Main_Platform_id"/>
		<add key="names" value="Nume|=|Nume_Platforma"/>
		-->
		<!-- Exemplu 2 -->
		<add key="ParentTableName" value="Esports_Teams"/>
		<add key="SelectParent" value="SELECT * FROM Esports_Teams"/>
		<add key="ParentId" value="id"/>
		<add key="ChildRef" value="id_t"/>

		<add key="ChildTableName" value="Esports_Team_Planer"/>
		<add key="SelectChild" value="SELECT * FROM Esports_Team_Planer"/>
		<add key="ChildId" value="id"/>
		<add key="Update" value="UPDATE Esports_Team_Planer  
                     SET Data_Meciului = @DataMeciului, 
                     Format_Meci = @Format_Meci
                     WHERE id = @id"
		/>
		<add key="UpdateNames" value="Data_Meciului|=|Format_Meci|=|id"/>
		<add key="UpdateParams" value="@DataMeciului|=|@Format_Meci|=|@id"/>
		<add key="UpdateTypes" value="Date|=|NVarChar|=|Int"/>
		<add key="Delete" value="DELETE FROM Esports_Team_Planer WHERE id = @id"/>
		<add key="DeleteNames" value="id"/>
		<add key="DeleteParams" value="@id"/>
		<add key="DeleteTypes" value="Int"/>
		<add key="Insert" value="INSERT INTO Esports_Team_Planer(Data_Meciului, Format_Meci, id_t,id_e) 
						values (@DataMeciului, @Format_Meci, @id_t,@id_e)"/>
		<add key="InsertNames" value="Data_Meciului|=|Format_Meci|=|id_t|=|id_e"/>
		<add key="InsertParams" value="@DataMeciului|=|@Format_Meci|=|@id_t|=|@id_e"/>
		<add key="InsertTypes" value="Date|=|NVarChar|=|Int|=|Int"/>

		<add key="OtherTables" value="Esports"/>
		<add key="selects" value="Select id,Numele_Competitiei from Esports"
		/>
        <add key="ids" value="id"/>  
        <add key="idsInChild" value="id_e"/>  
        <add key="names" value="Numele_Competitiei"/>
		
	</appSettings>
</configuration>